* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
    background-color: #11111b;
    /* border-radius: 10px; */
}

button {
    background-color: #11111b;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:active,
button:hover {
    background-color: #cdd6f4;
}

button:focus {
    background-color: #cdd6f4;
}

#lock:hover {
    color: #11111b;
}

#logout:hover {
    color: #11111b;
}

#suspend:hover {
    color: #11111b;
}


#shutdown:hover {
    color: #11111b;
}

#reboot:hover {
    color: #11111b;
}

#exit {
    background-color: #11111b;

}

#exit:hover {
    color: #11111b;
    background-color: #cdd6f4;
}
